@import url(../../common/styles/constant.module.less);
@import url(../../common/styles/animation.module.less);
.message {
  background-color: #dae2e4;
  &-reply {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    animation: fadeIn 0.3s forwards;
    &-mask {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 500px;
      height: 100%;
      z-index: 10;
      animation: reply 0.3s forwards;
    }
  }
  &-menu {
    color: #344358;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top: 10px;
    z-index: 10;
    .menu-logo {
      margin-right: 34px;
      font-family: fantasy;
      color: #344358;
      letter-spacing: 2px;
    }
    &-item {
      margin-left: 20px;
      cursor: pointer;
    }
  }
  &-wrap {
    display: flex;
    flex-direction: column;
  }
  &-top {
    flex: 1;
    position: relative;
    height: calc(100% - 70px);
    display: flex;
    &-icon {
      position: absolute;
      right: 0;
      bottom: 60px;
      width: 76px;
      height: 40px;
      text-align: center;
      background-color: white;
      line-height: 40px;
      cursor: pointer;
      i {
        font-size: 20px;
      }
    }
    &-img {
      width: 500px;
      height: 100%;
    }
    &-list {
      margin-left: 160px;
      margin-right: 50px;
      flex: 1;
      margin-top: 70px;
      height: calc(100% - 80px);
      color: #344358;
      overflow: hidden;
      overflow: hidden;
      overflow-y: auto;
      margin-bottom: 20px;
    }
    &-info {
      margin-left: 160px;
      display: flex;
      align-items: center;
      color: #344358;
      h1 {
        letter-spacing: 2px;
        font-size: 40px;
      }
      p {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 600;
      }
      &-add {
        background-color: white;
        padding: 15px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin: 30px 0;
        font-weight: 600;
      }
      &-attention {
        font-size: 14px;
        &-title {
          margin-bottom: 10px;
        }
        &-con {
          display: flex;
          flex-wrap: wrap;
          &-item {
            width: 50%;
            margin-top: 5px;
          }
        }
      }
    }
  }
  &-bottom {
    height: 80px;
    display: flex;
    &-add {
      width: 160px;
      background-color: transparent;
      .flex();
      cursor: pointer;
      i {
        font-size: 30px;
        color: #344358;
      }
    }
    &-info {
      background-color: #96a0aa;
      flex: 1;
      display: flex;
      align-items: center;
      color: white;
      justify-content: flex-end;
      font-weight: 600;
      letter-spacing: 2px;
      padding-right: 60px;
      font-size: 14px;
    }
    &-extra {
      background-color: white;
      width: 400px;
      font-size: 14px;
      .flex();
      justify-content: flex-start;
      padding-left: 60px;
      color: #344358;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
}

@keyframes reply {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0);
    opacity: 1;
  }
}
