.moment {
  background-color: #e7e8ec;
  &-menu {
    color: #222d38;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top: 10px;
    z-index: 10;
    .menu-logo {
      margin-right: 580px;
      font-family: fantasy;
      color: #222d38;
      // font-weight: 600;
      letter-spacing: 2px;
    }
    &-item {
      margin-left: 20px;
      cursor: pointer;
    }
  }
  &-wrap {
    display: flex;
  }
  &-view1,
  &-view2,
  &-view3 {
    display: flex;
    flex-direction: column;
    &-top {
      flex: 1;
    }
    &-bottom {
      height: 300px;
      background-color: white;
    }
  }
  &-view1 {
    flex: 1;
    min-width: 500px;
    &-top {
      .img {
        background-size: 678px 50vh;
        background-position: top;
      }
    }
  }
  &-view2,
  &-view3 {
    width: 340px;
  }
  &-view2 {
    &-top {
      background-color: white;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      &-menu {
        color: #222d38;
        font-weight: 500;
        font-size: 14px;
        position: absolute;
        z-index: 10;
        cursor: pointer;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        &-item {
          margin: 0 16px;
        }
      }
    }
    &-bottom {
      position: relative;
      .time {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        letter-spacing: 2px;
      }
    }
  }
}
